.Navbar {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 3em;
	z-index: 1;
	background-color: #1a2a40;
	color: white;
	box-shadow: 0px 10px 13px -7px rgba(50, 50, 50, 0.75);
}
