.PageSelector {
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn {
	margin: 3px;
	background-color: inherit;
	color: white;
	font-size: large;
	border: none;
	&:hover {
		cursor: pointer;
	}
	&__underline {
		@extend .btn;
		text-decoration: underline;
	}
}
