.ResultCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 300px;
	color: darkslategrey;
	margin: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 20px;
	&_thumb {
		height: 200px;
		border: 3px solid black;
		border-radius: 10px;
		box-shadow: 0px 10px 13px -7px black;
	}
	&_title {
		margin: 5px;
	}
	&:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
		transition: box-shadow 0.3s ease-in-out;
		cursor: pointer;
	}
}
